/* Base style */
.container {
  max-width: 148rem;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > .container {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.main-wrapper {
  flex: 1 0 auto;
  margin-top: 52px;
}

a {
  color: #b83821;
}

input[type='text']:focus {
  border-color: #b83821;
}

input[type='number']:focus {
  border-color: #b83821;
}

select:focus {
  border-color: #b83821;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#b83821" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>')
}

input[type='submit'] {
  background-color: #b83821;
  border-color: #b83821;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {

}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {

}
