.math-button {
  height: 100%;
  line-height: 1.7rem;
  padding: 0 1rem;
  margin: 0 1rem 0 0;
  font-size: 1.7rem;
  background-color: white;
  border-color: white;
  color: grey;
}

.math-button:hover {
  background-color: white;
  color: #b83821;
  border-color: white
}
