/* Base style */
.search-wrap {
  max-width: 40em;
  margin: 2em auto;
  height: 3.8rem;
}

.search-not-found {
  position: absolute;
  top: 4.5em;
  /*left: 1.5em;*/
  padding-left: .5em;
  color: #b83821;
  font-size: 1.2rem;
}

.calc-column-wrap {
  font-size: 1rem;
}

.center-text {
  text-align: center;
}

.calc-button-wrap {
  margin: -1.5em 0 1em;
}

.calc-button-top {
  margin-right: 1.5rem !important;
}

.divider {
  max-width: 80rem;
  margin: 5.5rem auto 3rem;
  border-color: #d1d1d1;
}

tbody > tr:last-child > td {
  border-bottom: 0;
}

/* Only mobile screen */
@media (max-width: 40rem) {

  th, td {
    padding: .75rem .5rem;
  }

  th:first-child, td:first-child {
    padding-right: 0;
  }
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {

  .calc-column-wrap {
    font-size: 1.3rem;
  }

  .search-wrap {
    margin: 3em auto;
  }

  th:last-child, td:last-child {
    padding-right: 1.5rem;
  }

}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {

  .search-wrap {
    margin: 3.5em auto;
  }

  .calc-column-wrap {
    font-size: 1.4rem;
  }

  th, td {
    padding: 1.2rem .75rem;
  }

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {

  th, td {
    padding: 1.5rem 1.2rem;
  }
}
