.button-center {
  margin: 0 auto;
}

.button-space {
  margin-top: .25em;
}

.fake-label {
  font-size: 1.6rem;
  font-weight: 700;
}

.add-substitute-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.substitute-form {
  margin-bottom: 0;
}
