/* Base style */
.button-mw {
  background-color: #b83821;
  border-color: #b83821;
}

.button-mw:hover {
  background-color: #5b5c63;
  border-color: #5b5c63;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {

}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {

}
