/* Base style */
.order-table-item {
  width: 30%;
}

.order-table-center {
  text-align: center;
}

.order-total {
  font-size:
}

.order-table-general-info {
  padding: .5rem 0;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {

  .table-currency {
    padding-left: 2.5rem;
  }

  .order-table-item {
    width: 44%;
  }

  .order-total {
    margin-top: .75rem;
  }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {

}
